<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/icons/favicons/Logo.png"></img>
        <img src="{{site.baseurl}}/images/Logo.png"></img>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav ml-auto">
          {% for node in site.data.menu %}
            {% assign page_url = page.url | remove: 'index.html' %}
            {% if page_url contains node.link %}
              {% assign activeClass = 'nav-item active' %}
            {% else %}
              {% assign activeClass = 'nav-item' %}
            {% endif %}
            <li class="{{activeClass}}">
                        <a class="nav-link" href="{{site.baseurl}}{{node.link}}">{{node.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>