#about-page {
  @media only screen and (min-width: $large-screen-min-width) {
    background-image: url('../images/about-bg.png');
    background-repeat: repeat-y;
    background-size: contain;
  }
  
  header {
    background-color: $white;
  }
  
  .image-container {
    background-color: #000;
    display: flex;
    align-items: center;
  }
  

  @include large-screen {
    .head-shot-container {
      width: 260px;
      padding: 0;
      margin: 0;
      float: left;
    }

    .about-container {
      margin-left: calc(260px + 3rem);
    }
  }

  @include small-screen {
    .about-container {
      margin-top: calc(3rem - 150px);
    }
  }
}