$primary-font-family: 'Lato', sans-serif;

$primary-font-weight:300;

$bold-font-weight:700;
$dark-color:#34495e;
$light-color:#ecf0f1;
$primary-color:#e67e22;

$large-screen-min-width: 992px;
$small-screen-max-width: $large-screen-min-width - 1px;