---
layout: default
---

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div id="post">
  <h1 class='display-4'>{{page.title}}</h1>
  <img src="{{site.baseurl}}{{page.image}}" class='hero-image'></img>
  {{page.content}}
</div>

{% assign full_page_url = site.url | append: site.baseurl | append: page.url %}

<div class="fb-like" data-href="{{full_page_url}}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
<div class="fb-comments" data-href="{{full_page_url}}" data-width="100%" data-numposts="5"></div>
